@font-face { font-family: sahitya; src: url(assets/fonts/Sahitya-Regular.ttf);}
@font-face { font-family: sahitya-bold; src: url(assets/fonts/Sahitya-Bold.ttf);}

*{scroll-behavior: smooth;}

html {    font-size: 12px;}
body {
    margin: 0;
    font-family: sahitya;
    background: url('assets/imgs/CuttingTile.png') repeat #3B998B;
    box-sizing: border-box;
    overflow-x: hidden;
}

.button {
    background: #CCCF1C;
    box-shadow: 7px 7px 0px #FFFFFF;
    border-radius: 2px 20px 2px 2px;
    text-decoration: none;
    color: #000;
    padding: 10px;
    display: inline-block;
    font-size: 2em;
    border: 2px solid #000000;
    transition: all 0.5s;
}   
    .button:hover {
        box-shadow: 2px 2px 0px #FFFFFF;
    }

.contentArea {
    max-width: 1400px;
    margin: 0 auto;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 50px;
}
    .contentArea.column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contentArea.row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .contentArea h2 {
        font-size: 4em;
        text-align: left;
        width: 100%;
    }
    

.screenSection {
    width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
}
.smallScreenSection {
    width: 100vw;
    min-height: 50vh;
    box-sizing: border-box;
}

        .masthead .logo {
            display: block;
            fill: #000;
            width: 128px;
            height: 128px;
            margin: 0 auto;
        }
        .masthead h1 {
            text-align: center;
            margin: 50px 0 0 0;
            font-size: 8rem;
        }

        .aboutme > div {
            box-sizing: border-box;
        }
            .aboutme p {
                font-size: 2em;
            }
            .aboutme img {
                background: #FFFFFF;
                border: 2px solid #000000;
                box-shadow: 15px 15px 0px #46397B;
                border-radius: 5px 75px 5px 5px;
                display: block;
                max-width: 350px;
                margin-left: 50px;
                transition: all 0.5s;
            }
                .aboutme img:hover {
                    box-shadow: 2px 2px 0px #46397B;   
                }


        .productGrid {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            width: 100%;
            gap: 60px;
            margin-bottom: 60px;
        }
            .productGrid > a {
                background: #FFFFFF;
                box-shadow: 15px 15px 0px #46397B;
                aspect-ratio: 1/1;
                transition: all 0.5s;
                border: 2px solid #000000;
                background: #46397B;
            }
            .productGrid > a:hover {
                box-shadow: 2px 2px 0px #46397B;
            }
            .productGrid > a.topLeft {border-radius: 72px 2px 2px 2px;}
            .productGrid > a.topRight {border-radius: 2px 75px 2px 2px;}
            .productGrid > a.bottomLeft {border-radius: 2px 2px 2px 75px;}
            .productGrid > a.bottomRight {border-radius: 2px 2px 75px 2px;}
            
                .productGrid > a > img {
                    display: block;
                    width: 100%;
                    border-radius: inherit;
                }

    .contactForm {
        min-height: 50vh;
    }
        .contactForm h2 {

        }
        .contactForm span {
            font-size: 2em;   
        }
        .contactForm a {
            background: #FFFFFF;
            border: 2px solid #000000;
            box-shadow: 15px 15px 0px #46397B;
            border-radius: 5px 75px 5px 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 350px;
            aspect-ratio: 1/1;
            margin-left: 50px; 
            transition: all 0.5s;
        }
        .contactForm a:hover {
            box-shadow: 2px 2px 0px #46397B;   
        }
            .contactForm a img {
                width: 75%;
            }

    footer {
        font-size: 1.5em; 
        text-align: center;
    }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .masthead h1 {font-size: 7rem;}
    .contentArea.row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .aboutme > div { width: auto; margin-top: 50px;}
    .aboutme  img {
        margin: 0 auto;
    }

    .productGrid { 
        grid-template-columns: repeat(2,1fr);   
    }

    .contactForm a {
        margin: 0;
    }
} 
  
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .masthead h1 {font-size: 5rem;}
    .productGrid { 
        grid-template-columns: repeat(1,1fr);   
    }
}